<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4 class="filter-header">Transaction Type <span>Choose to filter</span></h4>
      <div class="list-group filter-type">
        <!-- <a href="#" class="list-group-item">Compra</a>
        <a href="#" class="list-group-item">Retiro</a>
        <a href="#" class="list-group-item">Transferencia</a>
        <a href="#" class="list-group-item">Pago</a> -->
        <%= link_to  "Compra", expenses_path(expense_type: 'compra'), class: "list-group-item" %>
        <%= link_to  "Retiro", expenses_path(expense_type: 'retiro'), class: "list-group-item" %>
        <%= link_to  "Transferencia", expenses_path(expense_type: 'transferencia'), class: "list-group-item" %>
        <%= link_to  "Pago", expenses_path(expense_type: 'pago'), class: "list-group-item" %>
        <!-- more transaction types -->
      </div>

      <h4 class="filter-header">Categoría <span>Selecciona para filtrar</span></h4>
      <div class="list-group filter-type">
        <!-- <a href="#" class="list-group-item">Restaurants</a>
        <a href="#" class="list-group-item">Car</a> -->
        <!-- more categories  -->
        <% @categories.each do |category| %>
          <%= link_to  category.name, expenses_path(category_id: category), class: "list-group-item" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-9 index-data">
      <div class="row" style="margin-top: 10px;">
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value">$ <%= @expenses.sum(:amount) %></div>
          <div class="summary-label">Total</div>
        </diV>
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value"><%= @expenses.count %></div>
          <div class="summary-label">Transactions</div>
        </div>
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value">$ <%= @expenses.average(:amount) %></div>
          <div class="summary-label">Average</div>
        </div>
      </div>

      <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
          <a href="#myExpense" class="btn btn-success pull-left" data-toggle="modal"  data-target="#myExpense"><span class="glyphicon glyphicon-plus"></span> New Expense</a>
          <h4 class="dropdown pull-right">
            <button type="button" class="dropdown-toggle btn btn-link" data-toggle="dropdown">
              <% if params[:month] %>
                <%= Date::MONTHNAMES[params[:month].to_i] + ' ' + params[:year] %>
              <% else %>
                Filter by:
              <% end %>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation"><%= link_to Date::MONTHNAMES[Date.today.month]+ ' ' + Date.today.year.to_s, expenses_path(month: Date.today.month, year: Date.today.year) %></li>
              <li role="presentation"><%= link_to Date::MONTHNAMES[1.month.ago.month]+ ' ' + 1.month.ago.year.to_s, expenses_path(month: 1.month.ago.month, year: 1.month.ago.year) %></li>
              <li role="presentation"><%= link_to Date::MONTHNAMES[2.month.ago.month]+ ' ' + 2.month.ago.year.to_s, expenses_path(month: 2.month.ago.month, year: 2.month.ago.year) %></li>
              <li role="presentation"><%= link_to Date::MONTHNAMES[3.month.ago.month]+ ' ' + 3.month.ago.year.to_s, expenses_path(month: 3.month.ago.month, year: 3.month.ago.year) %></li>
              <li role="presentation"><%= link_to Date::MONTHNAMES[4.month.ago.month]+ ' ' + 4.month.ago.year.to_s, expenses_path(month: 4.month.ago.month, year: 4.month.ago.year) %></li>
              <li role="presentation"><%= link_to Date::MONTHNAMES[5.month.ago.month]+ ' ' + 5.month.ago.year.to_s, expenses_path(month: 5.month.ago.month, year: 5.month.ago.year) %></li>
              <li role="presentation"><%= link_to Date::MONTHNAMES[6.month.ago.month]+ ' ' + 6.month.ago.year.to_s, expenses_path(month: 6.month.ago.month, year: 6.month.ago.year) %></li>
              <li role="presentation"><%= link_to Date::MONTHNAMES[7.month.ago.month]+ ' ' + 7.month.ago.year.to_s, expenses_path(month: 7.month.ago.month, year: 7.month.ago.year) %></li>
              <li role="presentation"><%= link_to Date::MONTHNAMES[8.month.ago.month]+ ' ' + 8.month.ago.year.to_s, expenses_path(month: 8.month.ago.month, year: 8.month.ago.year) %></li>
              <li role="presentation"><%= link_to Date::MONTHNAMES[9.month.ago.month]+ ' ' + 9.month.ago.year.to_s, expenses_path(month: 9.month.ago.month, year: 9.month.ago.year) %></li>
              <li role="presentation"><%= link_to Date::MONTHNAMES[10.month.ago.month]+ ' ' + 10.month.ago.year.to_s, expenses_path(month: 10.month.ago.month, year: 10.month.ago.year) %></li>
              <li role="presentation"><%= link_to Date::MONTHNAMES[11.month.ago.month]+ ' ' + 11.month.ago.year.to_s, expenses_path(month: 11.month.ago.month, year: 11.month.ago.year) %></li>
              <!-- more months -->
            </ul>
          </h4>
        </div>
      </div>

      <table id="expenses-table" class="table table-hover" style="margin-top: 20px;">
        <thead>
          <tr>
            <th class="text-center">Día</th>
            <th>Concepto</th>
            <th class="text-right">Categoría</th>
            <th class="text-right">Valor</th>
          </tr>
        </thead>
        <tbody>
          <% @expenses.each do |expense| %>
            <tr>
              <td class="date">
                <div class="day"><%= expense.date.day %></div>
                <div class="month"><%= Date::ABBR_MONTHNAMES[expense.date.month] %></div>
              </td>
              <td>
                <div>
                  <span class="type"><%= expense.expense_type %></span>
                </div>
                <div>
                  <span class="concept"><%= expense.concept %></span>
                </div>
              </td>
              <td class="category text-right"><%= expense.category.name %></td>
              <td class="text-right" style="width: 170px;">
                <div class="amount">$ <%= expense.amount %></div>
                <div class="actions">
                  <!-- <a href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                  <a href="#"><span class="glyphicon glyphicon-trash"></span> Delete</a> -->
                  <%= link_to  "#myExpense", "data-toggle" => "modal", "data-target" => "#myExpense" do %>
                    <span class="glyphicon glyphicon-edit"></span> Edit
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>


      <!-- Button trigger modal -->
      <!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myExpense">
        Launch demo modal
      </button> -->

      <!-- Modal -->
      <div class="modal fade" id="myExpense" tabindex="-1" role="dialog" aria-labelledby="myExpenseLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myExpenseLabel">Expense</h4>
            </div>
            <%= form_for @expense do |f| %>
              <div class="modal-body">

                <% if @errors %>
                  <div class="alert alert-danger">
                    <ul>
                    <% @errors.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>

                <div class="form-group">
                  <%= f.label :expense_type, 'Tipo' %><br>
                  <%= f.select :expense_type, [['Compra', 'compra'], ['Retiro', 'retiro'], ['Transferencia', 'transferencia'], ['Pago', 'pago']], {include_blank: false}, class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :date, 'Fecha' %><br>
                  <%= f.date_field :date, class: "form-control", value: Date.today %>
                </div>
                <div class="form-group">
                  <%= f.label :concept, 'Concepto' %><br>
                  <%= f.text_field :concept, class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :category_id, 'Categoría' %><br>
                  <%= f.select :category_id, @categories.collect {|p| [ p.name, p.id ] }, {include_blank: false}, class: "form-control"  %>
                </div>
                <div class="form-group">
                  <%= f.label :amount, 'Cantidad' %>
                  <%= f.number_field :amount, value: 0, min: 0, class: "form-control" %>
                </div>
              </div>
              <div class="modal-footer">
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                <div class="action">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                  <%= f.submit 'Crear gasto', class: "btn btn-primary" %>
                </div>
              </div>
            <% end %>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>